<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"    content="width=device-width, initial-scale=1.0">
<meta name="description" content="NASCAR SIM RACING IRACING HELP">
<meta name="author" content="Dr.NASCAR">
<title>Getting Started in Sim Racing</title>
<link rel="favicon" href="static/images/favicon.png">
<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- Custom styles for our template -->
<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen" >
<link rel="stylesheet" type="text/css" href="static/css/da-slider.css" />
<link rel="stylesheet" href="static/css/style.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt="vOne HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="steeringwheels.html">Steering Wheels</a></li>
					<li><a href="PC.html">PC Specs</a></li>
					<li><a href="rig.html">Rigs</a></li>
                    <li><a href="contact.html">Contact</a></li>

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->
  </div>
</div>
<!-- /.navbar --> 

<!-- Header -->
<header id="head">
  <div class="container">
    <div class="banner-content">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Hit the track!</h2>
          <p>Start your Sim-Racing carrer today!</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Race with the Pros!</h2>
          <p>Join over 100,000 other Sim-Racers on iRacing.com</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Find the right equipment</h2>
          <p>Check out our guides!</p>
          <div class="da-img"></div>
        </div>
        <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
      </div>
    </div>
  </div>
</header>
<!-- /Header --> 

<!-- Intro -->
<section class="herotxt">
<!--<div class="container text-center sectionBox">
  <h2 >Welcome!</h2>
  <p class="text-muted"> Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies<br/>
    Sed elit imperdiet congue. Integer ultricies sed ligula eget tempus. </p>
</div>-->
  <div class="container sectionBox">
<div class="row">
                <div class="col-md-9">
                    <span>Welcome to SimHelper.com!</span>
                    <p>Want to start your Sim-Racing career but don't know where to start? Dont worry, we have got you covered!</p>
                </div>            

            </div>
            </div>
</section>
<!-- /Intro--> 



  </div>
</div>
<!-- container -->
<section class="sectionBox">
<div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="heading">  
            <h2>About Us</h2>
            <br/>
          </div> 
              <p>The goal of SimHelper.com is to help its users start their Sim-Racing career. Choosing equipment, PC's and iRacing content can be daunting for beginners. We hope to give you the info needed to get started as quickly and cheaply as possible!</p>
              <blockquote class="blockquote-1">
                <p>SimHelper.com gave me the info I needed to get started in Sim-Racing, I won my first race last week! I wish I got started sooner!</p>
                <small>Jack Griffith <cite title="Source Title">Beginner Sim-Racer</cite></small> </blockquote>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
              <div class="heading">  
                <h2>Featured Services</h2>
                <br/>
              </div> 
                <div class="square pull-left">
                    <i class="fa fa-pencil-square-o fa-3x circle"></i>
                </div>
                <h4>
                    Planning</h4>
                <p>Plan out your races! Make sure you have the required content to participate in your favorite seires without overpaying.</p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                     <i class="fa fa-info fa-3x circle"></i>
                </div>
                <h4>
                    Helpful Guides</h4>
                <p>Our guides will help you aquire the hardware needed to compete on iRacing</p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <i class="fa fa-money fa-3x circle"></i>
                </div>
                <h4>
                    NASCAR Daily Fantasy and Gambling</h4>
                <p>Check back soon for our new site! This site will include Draftkings lineup optimization tools and betting advice backed by Machine Learning</p>
            </div>
        </div>
    </div>
</div>
</section>
	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 panel">
						<h3 class="panel-title">About us</h3>
						<div class="panel-body">
							<p>The intent of this website is to assis the new influx of sim racers locate the equipment they need to get started.</p>
						</div>
					</div>

					<div class="col-md-4 panel contact">
						<h3 class="panel-title">Contact Info</h4>
						<div class="panel-body">
						<p>Need any extra help?<br>Find an issue with the site?<br>Want to promote your products?<br>Let me know!</p>
						<ul>
						  <li><a href="#"><i class="fa fa-envelope-o"></i> drnascarsocial@gmail.com</a></li>
						</ul>
						</div>
					</div>

					<div class="col-md-3 panel">
						<h3 class="panel-title">Follow Me!</h3>
						<div class="panel-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/dr_nascar"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://www.instagram.com/dr.nascar/?hl=en"><i class="fa fa-instagram fa-2"></i></a>
								<a href="https://www.youtube.com/channel/UC20WFy0FhsV5DyqgH-BtJWA"><i class="fa fa-youtube fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
<a href="index.html">Home</a>
					<a href="steeringwheels.html">Steering Wheels</a>
					<a href="PC.html">PC Specs</a>
					<a href="rig.html">Rigs/Chassis</a>
					<a href="monitors.html">Monitors</a>
                    <a href="vr.html">VR</a>
                    <a href="contact.html">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2020. AJG
							</p>
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="static/js/headroom.min.js"></script>
	<script src="static/js/jQuery.headroom.min.js"></script>
	<script src="static/js/custom.js"></script>
</body>
</html>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="static/js/modernizr-latest.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="static/js/jquery.cslider.js"></script>
<script src="static/js/headroom.min.js"></script>
<script src="static/js/jQuery.headroom.min.js"></script>
<script src="static/js/custom.js"></script>
</body>
</html>