<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-2221921737287655" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
<meta name="description" content="NASCAR SIM RACING IRACING HELP">
<meta name="author" content="Dr.NASCAR">

	<title>PC Specs</title>

	<link rel="shortcut icon" href="assets/images/favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="static/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt="vOne HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="steeringwheels.html">Steering Wheels</a></li>
					<li class="active"><a href="PC.html">PC Specs</a></li>
					<li><a href="rig.html">Rigs</a></li>
                    <li><a href="contact.html">Contact</a></li>

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row panel">
					<div class="col-xs-12">
						<h2></h1>

					</div>
				</div>
				<div class="row panel">
					<div class="col-xs-12">
						<h4><b>iRacing.com</b></h4>
						<p><img src="static/images/iracing.jpg" alt=""></p>
                        <p>Click the link below and follow the instructions on the page. This program comes directly from the iRacing official site and can check if your PC is powerful enough to run the sim.</p>
                        <p><a href="httpss://www.systemrequirementslab.com/Client/iRacing/?apikey=dec37c7f-8819-45d4-94f2-f33cf0956712" class="btn btn-info btn-xs" role="button">Click Here!</a></p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">PC&nbsp;Specs</h1>
				</header>
				<p>Unfortunately the biggest barrier of entry for new Sim-Racers is their PC specs. Fortunatly we can check your PC specs and confirm which simulators can run on your hardware. </p>
				<p>The minimum required PC specifications for iRacing are significantly lower than many other games on the market. Many average desktop computers can handle iRacing with ease. Many midrange laptop offerings also are capable of running iRacing at an acceptable framerate. </p>
				<p>The reccomended minimum specs for iRacing are as follows:<br><ul>
    <li>Windows 8.1 64-Bit, Windows 10 64-Bit</li><li>4 core CPU or better, Examples (but not limited to): AMD FX-6300, Intel Core i5-4430, Intel Core i5-2320, AMD Ryzen 3 1200</li><li>8 GB of Ram</li><Li>A gaming graphics card with at least 2GB of DEDICATED memory - Some examples (but not limited to):  Nvidia GeForce GTX 660 @ 2 GB / GTX 1050 or ATI Radeon HD 7850 @ 2GB / AMD RX 550 or better</Li><li>Atleast 10GB of free disk space</li>
    </ul>
</ul></p>

				<h2>What if my PC isn't powerful enough?</h2>
				<p>If you meet MOST of the requirements or come fairly close in almost every catagory, You will most likely still be able to run the sim. I would reccomend purchasing a one month membership to test the games functionality.</p>
				<p>If you don't manage to meet the required specs, the best thing you can do is research as many options as possible to avoid overspending. If your computer does not meet ANY of the specs, your only option is to purchase a more powerful machine. However, for slightly more powerful machines it is possible to upgrade to the requried specs. Many modern desktops will meet the requirements for the operating system, processor and disk space. Ram and Graphics Cards can be easily upgraded by a repuatble PC repair store or at home. I would reccomend doing as much research as possible before modifying your computer. </p>

			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 panel">
						<h3 class="panel-title">About us</h3>
						<div class="panel-body">
							<p>The intent of this website is to assis the new influx of sim racers locate the equipment they need to get started.</p>
						</div>
					</div>

					<div class="col-md-4 panel contact">
						<h3 class="panel-title">Contact Info</h4>
						<div class="panel-body">
						<p>Need any extra help?<br>Find an issue with the site?<br>Want to promote your products?<br>Let me know!</p>
						<ul>
						  <li><a href="#"><i class="fa fa-envelope-o"></i> drnascarsocial@gmail.com</a></li>
						</ul>
						</div>
					</div>

					<div class="col-md-3 panel">
						<h3 class="panel-title">Follow Me!</h3>
						<div class="panel-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/dr_nascar"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://www.instagram.com/dr.nascar/?hl=en"><i class="fa fa-instagram fa-2"></i></a>
								<a href="https://www.youtube.com/channel/UC20WFy0FhsV5DyqgH-BtJWA"><i class="fa fa-youtube fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
<a href="index.html">Home</a>
					<a href="steeringwheels.html">Steering Wheels</a>
					<a href="PC.html">PC Specs</a>
					<a href="rig.html">Rigs</a>
                    <a href="contact.html">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2020. AJG
							</p>
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="static/js/headroom.min.js"></script>
	<script src="static/js/jQuery.headroom.min.js"></script>
	<script src="static/js/custom.js"></script>
</body>
</html>